@layer reset, reset.base;

@layer reset.ase {
  html {
    min-height: 100vh;
    font-size: 10px;
  }

  body {
    min-height: 100vh;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}
